* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: rgb(24,24,24);
}
.header {
    padding: 30px;
    text-align: center;
    background-image: url("../images/Prime_Video.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    padding: 10px;
    width: 2524px;
    height: 200px
}

.header h1 {
    font-size: 50px;

}
.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav li {
    float: left;
}

.topnav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.tonav li:link, .topnav li:visited {
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.amazon_videoText {
  background-color: rgb(160, 160, 160);
  padding: 30px;
  margin-top: 60px;
  width: 75%
}
.amazon_videoText h2{
  color: #1695F6;
}
