
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: rgb(24,24,24);
}


.header {
    padding: 30px;
    text-align: center;
    background-image: url("../images/MainPageImage.jpg");
    background-position: center;
}

.header h1 {
    font-size: 50px;
    color: DodgerBlue;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.MainPageInfoText {
    background-color: rgb(160, 160, 160);
    padding: 30px;
    margin-top: 60px;
    width: 75%
}

.MainPageInfoText a{
  text-decoration: none;
  color: #f00;
}
